<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Home</title>
</head>
<body>
<h1>This is home</h1>

<table>
    Todays weather:
    <tr th:each= "weatherStat : ${weather}">
        <td th:text="${weatherStat.temperature}"></td>
        <td th:text="${weatherStat.wind}"></td>
        <td th:text="${weatherStat.description}"></td>
</table>

<div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
    <span th:case="${false}">
        User is not logged in
    <a th:href="@{/login}"
       class="btn btn-primary btn-sm">
    log in</a>
    <a th:href="@{/signup}"
       class="btn btn-primary btn-sm">
    sign up</a>
    </span>

    <span th:case="${true}">
        You are currently signed in as: <div th:text="${#authentication.principal.name}"></div>
your role:<div th:text="${#authentication.principal.authorities}"></div>

        <div th:switch="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}?
        ${true} : ${false}">
        <span th:case="${true}">
<a th:href="@{/admin}"
   class="btn btn-primary btn-sm">
    admin</a>
</span>
         <span th:case="${false}">
<a th:href="@{/flash}"
   class="btn btn-primary btn-sm">
    flash</a>
</span>
       </div>

<a th:href="@{/logout}"
   class="btn btn-primary btn-sm">
    logout</a>

    </span>

    <span th:case="*">Something weird happened</span>
</div>


<!--
<p th:if="">signed in as <div th:text="${#authentication.principal.name}"></div>
your role:<div th:text="${#authentication.principal.authorities}"></div></p>-->


</body>
</html>